<tr>
  <td class="text-center">
    <%= link_to "javascript:void(0)" do %>
      <strong><%= job.name %></strong>
    <% end %>
  </td>
  <td class="hidden-xs"><%= job.branch.name %></td>
  <td class="text-right"><strong><%= job.target %></strong></td>
  <td class="text-center">
    <%= link_to employers_job_path(job), class: "btn btn-warning btn-xs" do %>
      <i class="fa fa-info"></i>
    <% end %>
  </td>
</tr>
