<tr>
  <td class="text-center">
    <%= link_to "javascript:void(0)" do %>
      <strong><%= apply.job.name %></strong>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to "javascript:void(0)" do %>
      <%= apply.information[:phone] %>
    <% end %>
  </td>
  <td class="text-center">
    <span class="btn btn-success btn-xs">
      <%= t "employers.applies.statuses.#{apply.status}" %>
    </span>
  </td>
  <td class="hidden-xs text-center">
    <%= link_to employers_job_apply_path(apply.job, id: apply.id),
      class: "btn btn-warning btn-xs" do %>
      <i class="fa fa-info"></i>
    <% end %>
  </td>
</tr>

