<tr>
  <td class="text-center">
    <%= link_to "javascript:void(0)" do %>
      <strong><%= apply.job.name %></strong>
    <% end %>
  </td>
  <td>
    <%= link_to "javascript:void(0)" do %>
      <%= apply.information[:phone] %>
    <% end %>
  </td>
  <td class="text-center"><strong><%= apply.information[:name] %></strong></td>
  <td class="hidden-xs text-center">
    <%= link_to employers_job_apply_path apply.job, id: apply.id do %>
      <i class="fa fa-eye text-primary" aria-hidden="true"></i>
    <% end %>
  </td>
</tr>
