<% if @hash.present? %>
  <div class="row text-center">
    <%= render "employers/dashboards/list_statistic" %>
  </div>
<% end %>
<div class="block full">
  <div class="block-title">
    <div class="block-options pull-right">
    </div>
      <h2><strong><i class="fa fa-bar-chart"></i>&nbsp;
        <%= t ".dashboard" %></strong>&nbsp;<%= t ".detail" %></h2>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div id="chart-overview">
        <%= line_chart employers_dashboards_path %>
      </div>
    </div>
  </div>
</div>
 <div class="row">
  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2><strong><i class="fa fa-briefcase"></i>&nbsp;
          <%= t ".top" %></strong>&nbsp;<%= t ".job" %></h2>
      </div>
      <table class="table table-borderless table-striped table-vcenter table-bordered">
        <tbody>
          <%= render partial: "employers/dashboards/list_job", collection: @prioritize_jobs, as: :job %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="block">
      <div class="block-title">
        <h2><strong><i class="fa fa-star-o"></i>&nbsp;
          <%= t ".apply" %></strong>&nbsp;<%= t ".prioritize" %></h2>
      </div>
      <table class="table table-borderless table-striped table-vcenter table-bordered">
        <tbody>
          <%= render partial: "employers/dashboards/list_apply", collection: @prioritize_applies, as: :apply %>
        </tbody>
      </table>
    </div>
  </div>
</div>
