<div class="create-job-modal" id ="apply_button">
  <button type="button" class="btn btn-primary btn-lg post-job"
    data-toggle="modal" data-target="#JobModal">
    <%= t ".applynow" %>
  </button>
  <div class="modal fade" id="JobModal" role="dialog">
    <div class="modal-dialog job-modal-dialog">
      <div class="modal-content config custom-width">
        <div class="modal-header login-titles">
          <button type="button" class="close title-modal" data-dismiss="modal">x</button>
          <div class="login-title text-center">
            <h1>
              <i class="gi gi-flash"></i>
              <strong><%= t ".app" %>&nbsp; <%= t ".framgia" %></strong><br>
              <small>
                <strong class="title-modal">
                  <%= @job.name %>
                  (<%= t ".slary" %>
                  <%= @job.min_salary.round.to_s + Settings.currency.dollar %> -
                  <%= t ".working" %><%= @company.address %>)
                </strong>
              </small>
            </h1>
          </div>
        </div>
        <div class="modal-body modal-create-form" id="job-create-form">
          <div class="container bootstrap snippet">
            <div class="panel-body inf-content">
              <div class="row">
                <div class="col-md-3 map-right">
                  <% if current_user.picture.present? %>
                    <%= image_tag current_user.picture.url, class: "img-circle img-thumbnail isTooltip",
                      size: Settings.img_cv %>
                  <% else %>
                    <%= image_tag "avatar_2x.png", class: "img-circle img-thumbnail isTooltip", size: Settings.img_cv %>
                  <% end %>
                </div>
                <div class="col-md-5 hear-right">
                  <strong><%= t ".information" %></strong><br>
                  <div class="table-responsive">
                    <table class="table table-condensed table-responsive table-user-information">
                      <tbody>
                        <tr>
                          <td>
                            <strong>
                              <span class="glyphicon glyphicon-user text-primary"></span>
                              <%= t ".name" %>
                            </strong>
                          </td>
                          <td class="text-primary">
                            <%= current_user.name %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>
                              <span class="glyphicon glyphicon-envelope text-primary"></span>
                              <%= t ".email" %>
                            </strong>
                          </td>
                          <td class="text-primary">
                            <%= current_user.email %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>
                              <span class="glyphicon glyphicon-asterisk text-primary"></span>
                              <%= t ".address" %>
                            </strong>
                          </td>
                          <td class="text-primary">
                            <%= current_user.address %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <strong>
                              <span class="glyphicon glyphicon-phone text-primary"></span>
                              <%= t ".phone" %>
                            </strong>
                          </td>
                          <td class="text-primary">
                            <%= current_user.phone %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="content-apply">
            <%= render "applies/content",locals: {apply: @apply} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
