<div class="question-<%= question.id %>">
  <i class="text-danger"><%= t ".question", index: f.index + Settings.increase_one %>:</i>
  <b><h4><%= question.name %> ?</h4></b>
  <%= f.input :name, label: t(".answer"), class: "form-control",
    input_html: {rows: Settings.rows_text_area} %>
  <%= f.hidden_field :question_id, value: question.id %>
</div></br>
