<% unless @job.not_exist? %>
  <div class="survey display-none">
    <%= f.simple_fields_for :answers do |answer| %>
      <%= render partial: "applies/questions", locals: {f: answer,
        question: @questions[answer.index]} %>
    <% end %>
    <center>
      <%= link_to "javascript:void(0)", class: "btn btn-sm btn-primary previous" do %>
        <%= t ".last_page" %>
      <% end %>
      <%= f.button :button, class: "btn btn-sm btn-primary load-page" do %>
        <i class="fa fa-plus"></i>&nbsp;<%= t ".apply" %>
      <% end %>
    </center>
  </div>
<% end %>
