<%= simple_form_for @apply , remote: :true, class: "form-horizontal form-bordered" do |f| %>
  <%= f.hidden_field :job_id %>
  <strong><%= t ".information" %></strong><br>
  <div class="table-responsive">
    <%= f.simple_fields_for :information do |p| %>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un"><i class="fa fa-address-book" aria-hidden="true"></i></span>
          <%= p.text_field :name, autofocus: true, class: "form-control input-lg",
            placeholder: t(".name") %>
        </div>
      </div>
    </div>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <%= p.text_field :email, autofocus: true, class: "form-control input-lg",
            placeholder: t(".email") %>
        </div>
      </div>
    </div>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <%= p.text_field :phone, autofocus: true, class: "form-control input-lg",
            placeholder: t(".phone") %>
        </div>
      </div>
    </div>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un"><i class="fa fa-user" aria-hidden="true"></i></span>
          <%= f.text_field :broker, autofocus: true, class: "form-control input-lg",
            placeholder: t(".broker") %>
        </div>
      </div>
    </div>
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <tr>
          <td colspan="2" class="no-boder">
            <strong>
              <span class="text-primary"></span>
              <span class="text-danger">&nbsp;*</span><%= t ".introducing" %>
            </strong>
            <%= p.text_area :introducing, class: "form-control ckeditor", cols: Settings.text_area.cols,
              rows: Settings.text_area.rows %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-tag text-primary"></span>
              <span class="text-danger">&nbsp;*</span><%= t ".new_cv" %>
            </strong>
          </td>
          <td>
            <span class="btn btn-default btn-file">
              <%= t ".browse" %><%= f.file_field :cv, id: "file_cv", class: "transparent absolute" %>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" class="btn btn-sm btn-default pull-right btn-close-apply" data-dismiss="modal" id ="reset-job">
              <%= t ".close" %>
            </button>
            <button type="submit" class="btn btn-sm btn-warning pull-right load-page">
              <i class="fa fa-plus"></i><%= t ".apply" %>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
