<%= simple_form_for @apply , remote: :true, class: "form-horizontal form-bordered" do |f| %>
  <%= f.hidden_field :job_id %>
  <strong><%= t "apply.information" %></strong><br>
  <div class="table-responsive">
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <%= f.simple_fields_for :information do |p| %>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-user text-primary"></span>
              <%= t ".name" %>
            </strong>
          </td>
          <td class="text-primary">
            <%= p.text_field :name, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-envelope text-primary"></span>
              <%= t ".email" %>
            </strong>
          </td>
          <td class="text-primary">
            <%= p.text_field :email, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-phone text-primary"></span>
              <%= t ".phone" %>
            </strong>
          </td>
          <td class="text-primary">
            <%= p.text_field :phone, class: "form-control" %>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <tr>
          <td colspan="2">
            <strong>
              <span class="glyphicon glyphicon-asterisk text-primary"></span>
              <%= t ".introducing" %>
            </strong>
            <%= p.text_area :introducing, class: "form-control ckeditor", cols: Settings.text_area.cols,
              rows: Settings.text_area.rows %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-tag text-primary"></span>
              <%= t ".new_cv" %>
            </strong>
          </td>
          <td>
            <span class="btn btn-default btn-file">
              <%= t ".browse" %><%= f.file_field :cv, id: "file_cv", class: "transparent absolute" %>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <button type="button" class="btn btn-sm btn-default pull-right btn-close-apply" data-dismiss="modal" id ="reset-job">
              <%= t ".close" %>
            </button>
            <button type="submit" class="btn btn-sm btn-warning pull-right load-page">
              <i class="fa fa-plus"></i><%= t ".apply" %>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
