<% if @apply.errors.any? %>
  alertify.error('<%= j (render partial: "shared/error_messages", locals: {object: @apply}) %>');
  <% if params[:apply][:user_id].present? %>
    $('#content-apply').html('<%= j render partial: "applies/content", locals: {apply: @apply} %>');
  <% else %>
    $('#undefind-content').html('<%= j render partial: "applies/undefind_content", locals: {apply: @apply} %>');
  <% end %>
<% elsif @error %>
  alertify.error('<%= @error %>');
<% else %>
  alertify.success('<%= @success %>');
  $('#apply_button').hide().after('<button type = "button" class = "btn btn-primary btn-block btn-apply disabled"><%= I18n.t "apply.applied" %></button>');
  $('#JobModal').modal('hide');
  $('.no_jobs').hide();
<% end %>
$('#img-loading').hide();
$('.opacity-apply').css('opacity' ,1);
