<div class="block full">
  <div class="block-title">
    <h2><strong><%= t ".all" %></strong></h2>
  </div>
  <section class="page-job-detail__detail">
    <ul class="nav nav-tabs three-tabs" role="tablist">
      <li role="presentation" class="active animated fadeIn">
        <a href="#job-info" data-toggle="tab">
        <span class="hidden-sm hidden-xs col-info"><%= t ".interview" %></span>
        </a>
      </li>
      <li class="animated fadeIn" role="presentation ">
        <a href="#company-info" class="track-event" data-evt-type="view-tab-cominfo" role="tab" data-toggle="tab">
        <span class="hidden-sm hidden-xs col-info"><%= t ".candidate" %></span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane tab-pane-job-info active box box-md animated fadeIn"
        id="job-info">
        <div class="block full">
          <div class="block-title">
            <%= link_to new_employers_template_path, class: "btn btn btn-primary open-tab pull-right",
              remote: true do %>
              <i class="fa fa-plus" aria-hidden="true"><%= t ".add" %></i>
            <% end %>
          </div>
          <table class="table table-striped table-vcenter">
            <thead>
              <tr>
                <th class="text-center"><%= t ".stt" %></th>
                <th class="text-center"><%= t ".name" %></th>
                <th class="text-center"><%= t ".template" %></th>
                <th class="text-center"><%= t ".action" %></th>
              </tr>
            </thead>
            <tbody id="interview-load">
              <%= render partial: "employers/templates/interview",
                collection: @interviewers, as: :interviewer %>
            </tbody>
          </table>
          <%= paginate @interviewers %>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane tab-pane-company-info box box-md animated fadeIn"
        id="company-info">
        <div class="block full">
          <div class="block-title">
            <%= link_to new_employers_template_path, class: "btn btn btn-primary open-tab pull-right",
              remote: true do %>
              <i class="fa fa-plus" aria-hidden="true"><%= t ".add" %></i>
            <% end %>
          </div>
          <table class="table table-striped table-vcenter">
            <thead>
              <tr>
                <th class="text-center"><%= t ".stt" %></th>
                <th class="text-center"><%= t ".name" %></th>
                <th class="text-center"><%= t ".template" %></th>
                <th class="text-center"><%= t ".action" %></th>
              </tr>
            </thead>
            <tbody id="load_user">
              <%= render partial: "employers/templates/candidate",
                collection: @candidates, as: :candidate %>
            </tbody>
          </table>
          <%= paginate @candidates %>
        </div>
      </div>
    </div>
  </section>
  <div class="modal fade" id="managetemplate" role="dialog">
    <div class="modal-dialog job-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-primary"><%= t ".add" %>
          </h4>
        </div>
        <div class="modal-body" id="template-form">
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="manageTemplate" role="dialog">
    <div class="modal-dialog job-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%= t ".post_job" %></h4>
        </div>
        <div class="modal-body" id="templates">
        </div>
      </div>
    </div>
  </div>
</div>
