<%= stylesheet_link_tag "downloads/cv.css" %>
<div class="cv_cm cv_v7">
  <div class="cv7top">
    <p class="text_r tw b f25 font_rc tcap w101 ip cv7_name"><%= @user.name %></p>
  </div>
  <div class="cv7_left">
    <div class="cv_item " id="item_tt_quanlification">
      <h2 data-tooltip-position="bottom" class="cv7_title_left">
        <span class="icon_level_w">
          <%= image_tag "price_w.png", size: Settings.downloads.image, class: "image-cv" %>
        </span>
          <input class="ip resize" type="text" value="<%= t".achievements" %>" size="12">
        <i class="line_v7"></i>
      </h2>
      <%= render partial: "downloads/achievement", collection: @achievements, as: :achievement %>
    </div>
    <div class="cv_item " id="item_tt_quanlification">
      <h2 data-tooltip-position="bottom" class="cv7_title_left">
        <span class="icon_level_w">
          <%= image_tag "level_w.png", size: Settings.downloads.image, class: "image-cv" %>
        </span>
        <input class="ip resize" type="text" value="<%= t".experiences" %>" size="12">
        <i class="line_v7"></i>
      </h2>
      <%= render partial: "downloads/experience", collection: @experiences, as: :experience %>
    </div>
    <div class="cv_item " id="item_tt_quanlification">
      <h2 data-tooltip-position="bottom" class="cv7_title_left">
        <span class="icon_level_w">
          <%= image_tag "cer_w.png", size: Settings.downloads.image, class: "image-cv" %>
        </span>
        <input class="ip resize" type="text" value="<%= t".certificate" %>" size="9">
        <i class="line_v7"></i>
      </h2>
      <%= render partial: "downloads/certificate", collection: @certificates, as: :certificate %>
    </div>
    <div class="cv_item " id="item_tt_quanlification">
      <h2 data-tooltip-position="bottom" class="cv7_title_left">
        <span class="icon_level_w">
          <%= image_tag "target_w.png", size: Settings.downloads.image, class: "image-cv" %>
        </span>
        <input class="ip resize" type="text" value="<%= t".clubs" %>" size="11">
        <i class="line_v7"></i>
      </h2>
      <%= render partial: "downloads/club", collection: @clubs, as: :club %>
    </div>
  </div>
  <div class="cv7_right">
    <div class="cv7_topav">
       <div class="cv7_avatar">
          <div id="myavatar" class="avatar ">
            <% if @user.picture.present? %>
              <%= image_tag @user.picture.url %>
            <% else %>
              <%= image_tag "user_avatar_default.png" %>
            <% end %>
          </div>
       </div>
    </div>
    <ul class="cv7_contact">
      <li data-tooltip-position="bottom">
        <span class="icon_date_w"><i class="fa fa-calendar-o text-white" aria-hidden="true"></i></span>
        <div class="w100 ip tw f12 breakwrap"><%= l @user.birthday, format: :long %></div>
      </li>
      <li data-tooltip-position="bottom">
        <span class="icon_phone_w"><i class="fa fa-phone text-white" aria-hidden="true"></i></span>
        <div class="w100 ip tw f12 breakwrap">+<%= @user.phone %></div>
       </li>
      <li  data-tooltip-position="bottom">
        <span class="icon_email_w"><i class="fa fa-envelope text-white" aria-hidden="true"></i></span>
        <div class="w100 ip tw f12 breakwrap"><%= @user.email %></div>
      </li>
      <li data-tooltip-position="bottom">
        <span class="icon_gender_w"><i class="fa fa-user text-white" aria-hidden="true"></i></span>
        <div class="w100 ip tw f12 breakwrap"><%= @user.sex %></div>
      </li>
      <li data-tooltip-position="bottom">
        <span class="icon_loc_w"><i class="fa fa-map-marker text-white" aria-hidden="true"></i></span>
        <div class="w100 ip tw f12 breakwrap"><%= @user.address %></div>
      </li>
    </ul>
    <div class="cv_item " id="item_tt_gusto">
      <h2 data-tooltip-position="bottom" class="cv7_title_rigth">
        <div class="ip w100 tup"><%= t ".hobbies" %></div>
      </h2>
      <div class="bound" id="focus">
        <div class="sub_item">
          <table class="w100" cellpadding="0" cellspacing="0" border="0">
            <tbody><tr>
               <td class="w100 ">
                  <p data-tooltip-position="bottom" class="shopping">
                    -&ensp;<%= t ".game"%>
                  </p>
                  <p data-tooltip-position="bottom" class="shopping">
                    -&ensp;<%= t ".movie"%>
                  </p>
               </td>
            </tr>
         </tbody></table>
        </div>
      </div>
    </div>
    <div class="cv_item " id="item_tt_skill">
      <h2  data-tooltip-position="bottom" class="cv7_title_rigth">
         <div class="ip w100 tup"><%= t ".skills"%></div>
      </h2>
      <div class="bound" id="focus">
        <div class="sub_item">
          <table class="w100" cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td class="w100 ">
                  <p data-tooltip-position="bottom" class="w100">
                    <div class="w100 tw ip f12"><%= t ".communication" %></div>
                  </p>
                  <p class="star w100">
                    <i class="fa fa-star text-white" aria-hidden="true"></i>
                    <i class="fa fa-star text-white" aria-hidden="true"></i>
                    <i class="fa fa-star text-white" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o text-white" aria-hidden="true"></i>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="sub_item">
          <table class="w100" cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr>
                <td class="w100 ">
                  <p data-tooltip-position="bottom" class="w100">
                    <div class="w100 tw ip f12"><%= t ".teamwork" %></div>
                  </p>
                  <p class="star w100">
                    <i class="fa fa-star text-white" aria-hidden="true"></i>
                    <i class="fa fa-star text-white" aria-hidden="true"></i>
                    <i class="fa fa-star text-white" aria-hidden="true"></i>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
