<div class="block margin-bottom-0">
  <div class="block-title h-40">
    <label class="control-label m-10">
      <i class="fa fa-newspaper-o"></i>
      <strong><%= t ".add_survey" %></strong>
    </label>
    <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch"
        class="onoffswitch-checkbox" id="survey-checkbox">
      <label class="onoffswitch-label" for="survey-checkbox">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </div>
  </div>
  <div class="has-survey display-none m-top-10">
    <div class="funkyradio form-group m-i-top-20">
      <% Job.surveys.drop(1).each do |key, value| %>
        <div class="funkyradio-<%= status_survey value %> col-md-3 m-bottom-10">
          <%= f.radio_button :survey, value, id:"radio#{value}" %>
          <%= f.label :survey, t("survey.#{key}"), for: "radio#{value}" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <%= f.simple_fields_for :questions do |question| %>
        <%= render partial: "jobs/question_fields",
          locals: {f: question} %>
        <div class="links">
          <%= link_to_add_association t(".add_question"), f, :questions,
            class: "btn btn-warning btn-sm w-115 m-top-5 m-bottom-5" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="No-survey p-bottom-20">
    <small><i><strong><%= t ".add_survey" %></strong></i></small>
  </div>
</div>
<center>
  <div class="centerize create-job-btn">
    <%= f.button :submit, label: t("jobs.form.save_job"),
      class: "btn btn-primary btn-sm w-105 m-top-20" %>
  </div>
</center>
