<%= stylesheet_link_tag "read_notification" %>
<%= stylesheet_link_tag "employer/hidepaginate" %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><b><%= t ".yours_notifiactions" %></b></h4>
    </div>
    <div class="modal-body">
      <ul class="list-group">
        <% if @notifications.present? %>
          <%= render partial: "notifications/notification_index",
            collection: @notifications, as: :notification %>
        <% else %>
          <p class="text-danger text-center">
            <i><%= t ".not_notification" %></i>
          </p>
        <% end %>
      </ul>
      <div class="row text-center pag">
        <%= paginate @notifications, remote: true %>
      </div>
    </div>
  </div>
</div>
