<%= search_form_for q, url: employers_applies_path, remote: true,
  class: "d-inline-block" do |f| %>
  <div class="form-group">
    <div class="icon-addon addon-lg">
      <%= f.select :step_id_eq, options_for_select(steps
        .map{|step|[t("employers.applies.statuses.#{step.name}"),
        step.id]}.unshift([t(".enter_step"), nil])), {},
        {class: "form-control input-sm select-step d-inline-block",
        id: "select-step"} %>
      <label for="step_id_eq" class="fa fa-line-chart" rel="tooltip"></label>
    </div>
  </div>

  <div class="form-group">
    <div class="icon-addon addon-lg">
      <%= f.select :status_step_id_eq, options_for_select(
        status_steps.map{|status|[t("employers.applies.statuses.#{status.name}"),
        status.id]}.unshift([t(".enter_status_applies"), nil])), {},
        {class: "form-control input-sm d-inline-block"} %>
      <label for="step_id_eq" class="fa fa-bars" rel="tooltip"></label>
    </div>
  </div>

  <div class="form-group">
    <div class="icon-addon addon-lg">
      <%= f.search_field :job_name_cont,
        class: "form-control", placeholder: t(".enter_job") %>
      <label for="job_name_cont" class="fa fa-search rils" rel="tooltip"></label>
    </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary" do %>
    <i class="fa fa-search" aria-hidden="true"></i>
    <%= t ".filter" %>
  <% end %>
<% end %>
<%= javascript_include_tag "employers/select_step",
  "data-turbolinks-track": "reload" %>
