<%= stylesheet_link_tag "employer/jquery-ui" %>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="col-md-12">
  <ul class="nav nav-tabs" data-toggle="tabs">
    <h4>
      <i class="fa fa-address-card" aria-hidden="true"></i>
      <%= t ".imformation" %>
      <strong>
        <span class="translation_missing"><%= t ".offer" %></span>
      </strong>
    </h4>
  </ul></br>
  <div class="block-body">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <%= f.input :salary %>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <label class="control-label date required" for="apply_status_offers_attributes_0_start_time_1i">
        <abbr title="required">*</abbr> Start time
      </label>
      <%= f.text_field :start_time, class: "date_apply form-control", id: "datepicker" %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= f.input :address, as: :string %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= f.input :requirement, as: :text, input_html: {rows: Settings.input.row_10} %>
    </div>
  </div>
</div>
<%= javascript_include_tag "format_datepicker" %>
