<li class="media">
  <a href="page_ready_user_profile.html" class="pull-left">
    <%= image_tag email_sent.user_picture.url, class: "sender-avatar img-circle" %>
  </a>
  <div class="media-body">
    <span class="text-muted pull-right">
      <small><em>
        <%= t "employers.history.sent" %>
        <%= time_ago_in_words(email_sent.created_at) %>
        <%= t "employers.history.ago" %>
      </em></small>
    </span>
    <a href="javascript:void(0)"><strong><%= email_sent.title %></strong></a>
    <p>
      <a data-toggle="modal" class= "label label-info" data-target="#my-<%= email_sent.id %>">
        <i class="fa fa-eye"></i><%= t ".view" %>
      </a>
    </p>
  </div>
</li>
<div class="modal fade" id="my-<%= email_sent.id %>" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <i class="fa fa-info"></i>
            <%= t".information" %>
        </h4>
      </div>
      <div class="modal-body">
        <p>
        </p>
        <table class="container-mailer" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="header-mailer" align="center" valign="middle">
                <%= image_tag "logo.png" %>
                <h1><%= t "devise.mailer.header.app_name" %></h1>
              </td>
            </tr>
            <tr>
              <td>
                <%= email_sent.content.html_safe %>
              </td>
            </tr>
            <tr>
              <td class="footer-mailer checkter" align="center" valign="middle">
                <%= t "devise.mailer.footer.year" %>
                <strong><%= t "devise.mailer.footer.author" %></strong>
                <span><%= t "devise.mailer.footer.copyright" %></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
