<li class="dropdown">
  <%= link_to "#", class: "animation-floating", data: {toggle: "dropdown"},
    role: "button", aria: {haspopup: "true", expanded: "false"} do %>
    <i class="fa fa-bell-o"></i>
    <span class="label label-danger label-indicator
      animation-floating counter-notification">
      <%= notify_counter @notify_unread %>
    </span>
  <% end %>
  <ul class="dropdown-menu notify-drop">
    <li class="arrow-up"><span class="border-arrow"></span><span class="arrow"></span></li>
    <div class="notify-drop-title">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <b><%= t ".notification" %></b>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          <%= link_to see_all_notify_path, remote: true,
            class: "all-read", title: t(".read_all"),
            data: {tooltip: "tooltip", placement: "bottom"} do %>
            <%= t ".read_all" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="drop-content notificationList">
      <%= render partial: "notifications/notifications" %>
    </div>
    <div class="notify-drop-footer text-center">
      <%= link_to notifications_path, class: "text-title",
        remote: true do %>
        <i class="fa fa-eye"></i><%= t ".see_all" %>
      <% end %>
    </div>
  </ul>
</li>
<%= hidden_field_tag "current-user-id", current_user.id if current_user%>
