<tr id="apply_job_content_<%= apply_status.id %>">
  <td class="text-center"><strong><%= apply_status.id %></strong></a></td>
  <td class="text-center">
    <% if apply_status.apply.user.present? %>
    <strong>
      <%= link_to apply_status.apply.user_name, employers_job_apply_path(@job, apply_status.apply) %>
    </strong>
  </td>
  <td class="text-center"><strong><%= apply_status.apply.user_email %></strong></td>
  <td class="text-center"><strong><%= apply_status.apply.user_phone %></strong></td>
  <td class="text-center visible-lg"><%= l apply_status.apply_created_at, format: :long %></td>
  <td id="apply_content_<%= apply_status.apply.id %>" class="text-center hidden-xs">
    <% else %>
    <strong>
      <%= link_to apply_status.apply_information[:name], employers_job_apply_path(@job, apply_status.apply) %>
    </strong>
  </td>
  <td class="text-center"><strong><%= apply_status.apply_information[:email] %></strong></td>
  <td class="text-center"><strong><%= apply_status.apply_information[:phone] %></strong></td>
  <td class="text-center visible-lg"><%= l apply_status.apply_created_at, format: :long %></td>
  <td id="apply_content_<%= apply_status.apply.id %>"  class="text-center hidden-xs">
    <% end %>
    <%= show_status_apply apply_status.status_step %>
  </td>
</tr>
