<%= stylesheet_link_tag "employer/hidepaginate" %>
<%= render "employers/jobs/job_wrapper" %>
<div class="block full">
  <div class="block-title">
    <h2><strong><%= t ".sidebar_jobs" %></strong></h2>
  </div>
  <%= render "employers/jobs/search_job" %>
  <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
    <thead>
      <tr>
        <th class="text-center"><%= t ".stt" %></th>
        <th class="text-center"><%= t ".name" %></th>
        <th class="text-center"><%= t ".salary" %></th>
        <th class="text-center"><%= t ".position" %></th>
        <th class="text-center"><%= t ".target" %></th>
        <th class="text-center"><%= t ".status" %></th>
        <th class="text-center"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody id="jobs">
      <%= render @jobs %>
    </tbody>
  </table>
  <div class="row text-center pag">
    <%= paginate @jobs %>
  </div>
</div>
<div class="modal fade" id="manageJob" role="dialog">
  <div class="modal-dialog job-modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t ".post_job" %></h4>
      </div>
      <div class="modal-body" id="manage-job-form">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
