<div class="block full">
  <div class="block-title">
    <h2><%= t ".applyfor" %><strong><%= @job.name %></strong></h2>
  </div>
  <% if @applies.present? %>
    <table class="table table-bordered table-striped table-vcenter">
      <thead>
        <tr>
          <th class="text-center"><%= t ".id" %></th>
          <th class="text-center"><%= t ".user" %></th>
          <th class="text-center"><%= t ".email" %></th>
          <th class="text-center"><%= t ".phone" %></th>
          <th class="text-center"><%= t ".date" %></th>
          <th class="text-center"><%= t ".status" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "apply", collection: @applies, as: :apply %>
      </tbody>
    </table>
    <%= paginate @applies %>
    <div id="area_apply_appointment">
    </div>
  <% else %>
    <p class="not_found_apply"><i><%= t ".not_found_apply" %></i></p>
  <% end %>
</div>
