<article class="post-21 page type-page status-publish hentry">
  <header class="entry-header"><h1 class="entry-title"><%= t ".home" %></h1></header>
  <div class="entry-content">
    <section class="section-top-page alt-bg">
      <div class="wrapper">
        <div class="block">
          <p class="hello"><%= t ".hello" %></p>
          <h2><%= t ".question" %></h2>
          <p class="quote"><%= t ".quote" %></p>
          <p class="quote2"><%= t ".quote2" %></p>
          <p class="author"><%= t ".author" %></p>
        </div>
      </div>
    </section>
    <section class="section-vision anchor-wrapper">
      <div id="anchor"></div>
      <div class="wrapper">
        <p class="title-3"><%= t ".anchor" %></p>
        <h2 class="title-2 white"><%= t ".make" %></h2>
        <p class="anchor desc"><%= t ".anchor_desc" %></p>
      </div>
    </section>
    <section class="section-service alt-bg">
      <div class="wrapper">
        <p class="title-3 white"><%= t ".advantage" %></p>
        <div class="row">
          <div class="col-md-6">
            <div class="block">
              <h2 class="title-2"><%= t ".title-2-1" %><br>
              </h2>
              <p class="desc"><%= t ".desc1" %></p>
              <p class="desc"><%= t ".desc2" %></p>
              <p><a class="fvn-btn" href="#"><%= t ".read_more" %></a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="service-item">
                  <div class="item-header">
                    <p>
                      <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/code-design.png" alt="code-design" class="img-static-36x31">
                    </p>
                    <h3><%= t ".h3" %></h3>
                  </div>
                  <h4><%= t ".p1" %></h4>
                  <p><i class="fa fa-check-circle-o"></i>
                    <%= t".p11" %>
                  </p>
                  <h4><%= t".p2" %></h4>
                  <p><i class="fa fa-check-circle-o"></i>
                    <%= t ".p22" %>
                  <p><i class="fa fa-check-circle-o"></i><%= t ".p23" %><br />
                   &#8211;<%= t ".p24" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="service-item">
                  <div class="item-header">
                    <p>
                      <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/mobile-app-developing.png" alt="mobile-app-developing" class="img-static-36x36">
                    </p>
                    <h3><%= t ".a3" %></h3>
                  </div>
                  <p><%= t ".a1" %><br></p>
                </div>
                <div class="service-item">
                  <div class="item-header">
                    <p>
                      <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/Edu.png" alt="web-development" class="img-static-36x36"></p>
                    <h3><%= t ".a3" %></h3>
                  </div>
                  <p>
                    <i class="fa fa-check-circle-o"></i><%= t ".a1" %><br>
                    <br><%= t ".a2" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-client">
      <div class="wrapper">
        <h3 class="title-3"><%= t ".title" %></h3>
        <div class="section-content">
          <div class="owl-carousel owl-client">
            <%= render partial: "client", collection: @partners, as: :partner  %>
          </div>
        </div>
      </div>
    </section>
    <section class="section-statistic alt-bg">
      <div class="wrapper">
        <div class="row">
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/planet-earth.png" alt="planet-earth" class="img-static-36x36">
              </p>
              <p class="number"><%= t ".num_countries" %></p>
              <p class="property"><%= t ".countries" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/city.png" alt="company-workers" class="img-static-36x33">
              </p>
              <p class="number"><%= t ".num_city" %></p>
              <p class="property"><%= t ".city" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/company-workers.png" alt="company-workers" class="img-static-36x33">
              </p>
              <p class="number"><%= t ".num_employees" %></p>
              <p class="property"><%= t ".employee" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/handshake.png" alt="handshake" class="img-static-36x29">
              </p>
              <p class="number"><%= t ".num_clients" %></p>
              <p class="property"><%= t ".client" %></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="statistic-item">
              <p>
                <img src="http://recruit.framgia.vn/wp-content/uploads/2016/05/shared-folder.png" alt="shared-folder" class="img-static-36x31">
              </p>
              <p class="number"><%= t ".num_projects" %></p>
              <p class="property"><%= t ".project" %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-team">
      <div class="wrapper">
        <p class="title-3"><%= t ".title" %></p>
        <div class="row">
          <div class="col-md-6">
            <h2 class="title-2"><%= t ".title-2-1" %>
              <br><%= t ".title-2-2" %></h2>
            <div class="feature-list clearfix">
              <ul>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_1" %></li>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_2" %></li></li>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_3" %></li></li>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_4" %></li></li>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_5" %></li></li>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_6" %></li></li>
                <li><i class="material-icons orange"><%= t ".done" %></i>
                  <%= t ".feature_7" %></li></li>
              </ul>
            </div>
            <p>
              <a class="fvn-btn btn-2" href="https://careers-framgia.icims.com/jobs/search?ss=1">
                <%= t ".join" %></a>
            </p>
          </div>
          <div class="col-md-6">
            <div class="owl-carousel owl-team owl-theme">
              <% 10.times do %>
                <%= render "team_person" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-activity alt-bg">
      <div class="wrapper">
        <p class="title-3 white"><%= t ".title" %></p>
        <h2 class="title-2"><%= t ".title-2" %></h2>
        <div class="hot-news owl-carousel owl-theme">
          <%= render partial: "activity", collection: @activities, as: :activity %>
        </div>
      </div>
    </section>
    <section class="section-check-career alt-bg">
      <h2><%= t ".h2" %></h2>
      <p><a class="fvn-btn btn-1" href="https://careers-framgia.icims.com/jobs/search?ss=1">
        <%= t ".content_1" %></a></p>
    </section>
  </div>
</article>
