<tr>
  <td>
    <div class="b-body">
      <div class="menu-body">
        <h2><%= t ".received" %></h2>
        <b class="title-first">
          <%= t ".user" %><%= @apply.information[:name] %>,
        </b>
        <p class="count">
          <%= t ".send_cv" %>
          <%= t ".content", company_name: @apply.company.name %>
        </p>
        <h3><%= t ".good" %></h3>
      </div>
    </div>
  </td>
</tr>
