<tr>
  <td>
    <%= t ".hello", company_name: @company.name %>
  </td>
</tr>
<tr>
  <td>
    <%= t ".job", job_name: @apply.job.name %>
  </td>
</tr>
<tr>
  <td>
    <div class="bodyname">
      <div class="bottom-name"><%= t ".candidate" %></div>
      <div class="row">
        <div class="column">
          <div class="card">
            <%= email_image_tag "user_avatar_default.png", class: "img-name" %>
            <div>
              <h2><%= @apply.information[:name] %></h2>
              <p class="title">
                <strong><%= t ".email"%>:</strong>
                <%= @apply.information[:email] %>
              </p>
              <p class="title">
                <strong><%= t ".phone"%>:</strong>
                <%= @apply.information[:phone] %>
              </p>
              <p><%= @apply.information[:introducing].html_safe %></p>
              <p>
                <%= link_to t(".see_more"), root_url, class: "button" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
