<div class="form-group">
  <div class="col-md-12">
    <div class="block margin-bottom-0">
      <div class="block-title">
        <ul class="nav nav-tabs" data-toggle="tabs">
          <h2>
            <i class="fa fa-wrench"></i>
            <strong><%= t "employers.action" %></strong>
          </h2>
        </ul>
      </div>
      <div class="tab-content" id="open_appointment">
        <div class="tab-pane active" id="appointment-tab">
          <div class="clearfix">
            <div class="form-group">
              <div class="col-sm-12 col-lg-12">
                <%= simple_form_for [:employers, apply_status],
                  html: {class: "apply-status-form", id: "new_apply"},remote: true do |f| %>
                  <%= f.hidden_field :apply_id, value: apply.id %>
                  <%= f.hidden_field :status_step_id %>
                  <%= f.hidden_field :is_current %>

                  <div class="content-form-apply" id="area-appointment">
                    <% if @status_step_scheduled_ids.include? apply_status.status_step_id %>
                        <%= render partial: "employers/applies/appointment_form", locals: {apply_status_builder: f,
                          apply_status: apply_status, members: members, apply: apply,
                          appointments: appointments, interview_scheduled_ids: @interview_scheduled_ids} %>
                    <% end %>

                    <% if @offer_sent_ids && (@offer_sent_ids.include? apply_status.status_step_id) %>
                      <%= f.simple_fields_for :offers do |offer| %>
                        <% if filter_object offer.object %>
                          <%= render partial: "offers", locals: {f: offer} %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>

                  <div class="content-form-apply content-form-apply-email" id="area-email">
                    <%= render partial: "employers/applies/email_form",
                      locals: {apply_status_builder: f, apply_status: apply_status,
                      template_users: @template_users, apply: apply, appointments: appointments} %>
                  </div>
                  <div class="form-group form-group-submit">
                    <%= button_tag t("employers.cancel"), class: "btn btn-sm pull-right btn-default cancel-form",
                      id: "cancel-apply-email" %>
                    <%= f.submit t("employers.submit"), class: "btn btn-sm pull-right btn-info load-page" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
