<%= simple_form_for [:employers, apply_status], remote: true do |f| %>
  <%= f.hidden_field :apply_id, value: apply.id %>
  <%= f.hidden_field :status_step_id %>
  <%= f.hidden_field :is_current %>

  <% if @stattus_step_scheduled_ids.include? apply_status.status_step_id %>
    <div class="content-form-apply" id="area-appointment">
    <%= render partial: "employers/applies/appointment_form", locals: {apply_status_builder: f,
      apply_status: apply_status, members: members, apply: apply,
      appointments: appointments, interview_scheduled_ids: @interview_scheduled_ids} %>
    </div>
  <% end %>

  <div class="content-form-apply" id="area-email">
    <%= render partial: "employers/applies/email_form", locals: {apply_status_builder: f,
      apply_status: apply_status, template_users: @template_users, apply: apply, appointments: appointments} %>
  </div>

  <div class="form-group">
    <%= f.submit t("employers.submit"), class: "btn btn-sm pull-right btn-info load-page" %>
  </div>
<% end %>
