<%= javascript_include_tag "format_datepicker", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employer/plugins", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employer/app", "data-turbolinks-track": "reload" %>
<%= javascript_include_tag "employers/search", "data-turbolinks-track": "reload" %>

<div id = "appoinment-content">
  <div class="form-group">
    <div class="block margin-bottom-0">
      <div class="block-title">
        <ul class="nav nav-tabs" data-toggle="tabs">
          <h2>
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <%= t "employers.schedule" %><strong><%= t "employers.appointment" %></strong>
          </h2>
        </ul>
      </div>

      <%= apply_status_builder.simple_fields_for :appointment do |appointment_builder| %>
        <%= appointment_builder.hidden_field :company_id %>
        <%= appointment_builder.hidden_field :type_appointment %>

        <div class="form-group">
          <%= appointment_builder.input :address, as: :string %>
        </div>

        <% if interview_scheduled_ids.include? apply_status.status_step_id %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-5 control-label"
                  for="example-chosen-multiple">
                  <%= t ".interview" %>
                </label>
                <%= select_tag "states[]", options_for_select(
                  members.map {|s| [s.user.name, s.user.id]}
                  ), multiple: true, class: "select-chosen", id: "example-chosen-multiple",
                  data: {id: apply.id}%>
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="start_time">
                <abbr title="required">*</abbr>
                <%= t ".start" %>
              </label>
              <%= appointment_builder.text_field :start_time,
                value: show_time(appointment_builder.object.start_time),
                class: "form-control edit-control apply-appointment-start-time", readonly: true %>
              <span class="error-message">
                <%= appointment_builder.full_error :start_time %>
              </span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group required">
              <label class="control-label" for="end_time">
                <abbr title="required">*</abbr>
                <%= t ".end" %>
              </label>
              <%= appointment_builder.text_field :end_time,
                value: show_time(appointment_builder.object.end_time),
                class: "form-control edit-control apply-appointment-end-time", readonly: true %>
              <span class="error-message">
                <%= appointment_builder.full_error :start_time %>
              </span>
            </div>
          </div>
        </div>

        <div class="row" id = "show-view-calendar">
          <%= render partial: "employers/applies/calendar_inteview", locals: {apply: apply,
            appointments: appointments, appointment: appointment_builder.object} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
