<div id="block-apply" class="btn btn-apply">
  <button id="btn-block-apply"
    class="btn <%= @apply.lock_apply? ? 'btn-warning' : 'btn-danger'%> btn-sm" %>
    <% if @apply.lock_apply? %>
      <i class="fa fa-unlock">&nbsp;&nbsp;<%= t "employers.applies.btn_name.unblock" %></i>
    <% else %>
      <i class="fa fa-lock">&nbsp;&nbsp;<%= t "employers.applies.btn_name.block" %></i>
    <% end %>
  </button>
</div>
<% if @apply.unlock_apply? %>
  <div id="btn-prev-apply" class="btn btn-apply">
    <%= render partial: "employers/applies/form_apply_status", locals: {apply_status: @prev_apply_status,
      btn_name: t("employers.applies.btn_name.prev"), step: @prev_step} %>
  </div>
  <div id="btn-next-apply" class="btn btn-apply">
    <%= render partial: "employers/applies/form_apply_status", locals: {apply_status: @next_apply_status,
      btn_name: t("employers.applies.btn_name.next"), step: @next_step} %>
  </div>
<% end %>
