<strong><%= t ".information" %></strong><br>
<div class="table-responsive">
  <%= f.simple_fields_for :information do |p| %>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un input-name">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </span>
          <%= p.text_field :name, autofocus: true, placeholder: t(".name"),
            class: "form-control input-lg input-name" %>
        </div>
        <span class="error-message-name"></span>
      </div>
    </div>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un input-email"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <%= p.text_field :email, autofocus: true, placeholder: t(".email"),
            class: "form-control input-lg input-email" %>
        </div>
        <span class="error-message-email"></span>
      </div>
    </div>
    <div class="form-group input-inline width-inline">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon apply-un input-phone"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <%= p.text_field :phone, autofocus: true, placeholder: t(".phone"),
            class: "form-control input-lg input-phone" %>
        </div>
        <span class="error-message-phone"></span>
      </div>
    </div>
    <table class="table table-condensed table-responsive table-user-information">
      <tbody>
        <tr>
          <td colspan="2" class="no-boder">
            <strong>
              <span class="text-primary"></span>
              <span class="text-danger">&nbsp;*</span><%= t ".introducing" %>
            </strong>
            <%= p.text_area :introducing,
              class: "form-control ckeditor input-introducing",
              cols: Settings.text_area.cols, rows: Settings.text_area.rows %>
            <span class="error-message-introducing input-introducing"></span>
          </td>
        </tr>
        <tr>
          <td>
            <strong>
              <span class="glyphicon glyphicon-tag text-primary"></span>
              <span class="text-danger">&nbsp;*</span><%= t ".new_cv" %>
            </strong>
          </td>
          <td>
            <span class="btn btn-default btn-file">
              <%= f.file_field :cv, id: "file_cv", class: "transparent absolute" %>
            </span>
            <span class="error-message-cv"></span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
