<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><strong><%= t ".add_apply" %></strong></h4>
    </div>
    <%= search_form_for @q, url: new_employers_apply_path,
      remote: true, class: "form-search" do |f| %>
      <div class="col-md-7">
        <%= f.text_field :name_cont, placeholder: t(".job_name_placeholder"),
          class: "form-control input-sm search-job" %>
      </div>
      <%= f.submit t(".search"), class: "btn btn-primary btn-sm w60" %>
    <% end %>
    <div class="modal-body">
      <div class="row">
        <%= simple_form_for [:employers, @apply], remote: :true,
          class: "form-horizontal form-bordered" do |f| %>
          <div class="block col-md-5">
            <div class="block-title">
              <h2><strong><%= t ".choose_job" %></strong></h2>
            </div>
            <span class="error-message-job"></span>
            <div id="search-job">
              <%= render "choose_jobs" %>
            </div>
          </div>
          <div class="block col-md-7 h524">
            <div class="block-title">
              <h2><strong><%= t ".apply" %></strong></h2>
            </div>
            <%= render partial: "apply_form", locals: {f: f} %>
          </div>
          <center>
            <%= f.submit t(".submit"), class: "btn btn-warning w125" %>
          </center>
        <% end %>
      </div>
    </div>
  </div>
</div>
