<%= javascript_include_tag "employers/validate", "data-turbolinks-track": "reload" %>

<div class="col-sm-12 col-lg-12">
  <div class="block">
    <div class="block-title">
      <h2>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <%= t "employers.compose" %><strong><%= t "employers.email" %></strong>
      </h2>
    </div>

    <div id = "apply-handling-content">
      <%= form_tag employers_send_emails_path, method: :post,
        class: "form-horizontal form-bordered", id: "send-email-apply", remote: true do %>
        <div class="form-group">
          <label class="col-md-3 col-lg-2 control-label" for="compose-to"><%= t "jobs.apply.title" %></label>
          <div class="col-md-9 col-lg-10">
            <%= text_field_tag :title, nil, class: "form-control form-control-borderless",
              placeholder: t("employers.title") %>
            <%= hidden_field_tag :apply_id, apply.id %>
            <%= hidden_field_tag :apply_status_id, apply_status.id %>
          </div>
        </div>

        <div id="cc-input" class="form-group">
          <label class="col-md-3 col-lg-2 control-label" for="compose-to-cc"><%= t ".please_selected" %></label>
          <div class="col-md-9 col-lg-10">
            <%= select_tag :template_user,
              options_for_select(template_users.collect{ |u| [u.name, u.id]}),
              include_blank: t("please_select"), class: "form-control form-control-borderless" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 col-lg-2 control-label" for="compose-message">
            <%= t "jobs.apply.content" %>
          </label>
          <div class="col-md-9 col-lg-10">
            <%= text_area_tag :template_content, nil, class: "form-control textarea-editor",
              id: "content-template-user", cols: Settings.text_area.cols_email,
              rows: Settings.text_area.rows_email, placeholder: t("employers.your_message") %>
          </div>
        </div>

        <div class="form-group form-actions">
          <div class="col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
            <%= button_tag(type: "submit", class: "btn btn-info btn-sm") do %>
              <i class="fa fa-share"></i>
              <%= t "jobs.apply.send_mail" %>
            <% end %>
            <button type="button" id="cancel-apply-email" class="btn btn-sm btn-default">
              <i class="fa fa-ban"></i>
              <%= t "employers.cancel" %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
