<% steps.each do |step| %>
  <% status_class = show_progress_status_apply current_step, step, company_steps_by_step %>
  <li data-stepId="<%= step.id %>" class="item-progress <%= status_class %>">
    <% if status_class %>
      <%= link_to employers_step_path(step, apply_id: @apply.id), remote: true do %>
        <span class="bubble"></span>
        <%= show_value current_step, step %>
      <% end %>
    <% else %>
      <span class="bubble"></span>
      <%= show_value current_step, step %>
    <% end %>
  </li>
<% end %>
