<% if @data_step.present? && (@data_step[:email_sents].present? || @data_step[:appointment].present?) %>
  <div class="block block-content">
    <div class="timeline-step">
      <div class="timeline-movement timeline-movement-top">
        <div class="timeline-badge timeline-filter-movement">
          <a href="#">
            <span class="fa fa-clock-o"></span>
          </a>
        </div>
      </div>

      <div class="timeline-movement">
        <% @data_step[:dates].each do |date| %>
          <div class="timeline-badge">
            <span class="timeline-balloon-date-day"><%= date.day %></span>
            <span class="timeline-balloon-date-month">
              <%= I18n.t("date.abbr_month_names")[date.month] %>
            </span>
          </div>

          <% @data_step[:email_sents][date].each do |email_sent| %>
            <div class="col-sm-6  timeline-item">
              <div class="col-sm-12">
                <div class="col-sm-11">
                  <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                      <li><span class="importo"><%= email_sent.title %></span></li>
                      <li><span class="causale"><%= email_sent.content %></span> </li>
                      <li><p><small class="text-muted"><i class="fa fa-clock-o"></i><%= date %></small></p> </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          <% end %>

          <% if @data_step[:appointment].present? %>
            <div class="col-sm-6 timeline-item">
              <div class="col-sm-12">
                <div class="col-sm-offset-1 col-sm-11">
                  <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                      <li>
                        <span class="importo">
                          <%= t "employers.appointment" %>
                        </span>
                      </li>
                      <li>
                        <span class="causale">
                          <%= t "employers.history.start_time" %>
                          <%= l @data_step[:appointment].start_time, format: :format_time %>
                        </span>
                      </li>
                      <li>
                        <span class="causale">
                          <%= t "employers.history.end_time" %>
                          <%= l @data_step[:appointment].end_time, format: :format_time %>
                        </span>
                      </li>
                      <li><p><small class="text-muted"><i class="fa fa-clock-o"></i><%= date %></small></p> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
