<% if @applies_status.present? %>
  <table id="ecom-orders" role="grid" aria-describedby="ecom-orders_info"
    class="table table-bordered table-striped table-vcenter dataTable no-footer">
    <thead>
      <tr role="row">
        <th class="text-center"><%= t ".user_name" %></th>
        <th class="text-center"><%= t ".job" %></th>
        <th class="text-center"><%= t ".email" %></th>
        <th class="text-center"><%= t ".phone" %></th>
        <th class="text-center"><%= t ".step" %></th>
        <th class="text-center"><%= t ".status" %></th>
        <th class="text-center"><%= t ".applied" %></th>
        <th class="text-center"><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "apply_index", collection: @applies_status, as: :apply_status %>
    </tbody>
  </table>
  <div class="row text-center pag">
    <%= paginate @applies_status %>
  </div>
<% else %>
  <p class="text-danger text-center">
    <i><%= t ".not_applies" %></i>
  </p>
<% end %>
