<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="block full">
      <div class="block-title clearfix">
        <h2><i class="fa fa-ticket"></i> <strong><%= t ".candidate_information" %></strong></h2>
      </div>
      <div class="block">
        <div class="block-section text-center">
          <%= show_image_apply @apply %>
          <h3>
            <strong><%= @apply.information[:name] %></strong><br><small></small>
          </h3>
        </div>
        <table class="ml-18 table table-borderless table-striped">
          <tbody>
            <tr class="background-none">
              <td class="text-right"><strong><%= t ".email" %></strong></td>
              <td><span class="label label-primary"><%= @apply.information[:email] %></span></td>
            </tr>
            <tr class="background-none">
              <td class="text-right"><strong><%= t ".phone" %></strong></td>
              <td><%= @apply.information[:phone] %></td>
            </tr>
            <tr class="background-none">
              <td class="text-right"><strong><%= t ".status" %></strong></td>
              <td id="status-infor-apply">
                <%= show_status_apply @current_apply_status.status_step %>
              </td>
            </tr>
            <tr class="background-none">
              <td class="text-right"><strong><%= t "employers.cv" %></strong></td>
              <td>
                <a href="<%= @apply.cv.url %>" data-fancybox class="thumbnail-cv label label-info">
                  <i class="fa fa-eye"></i><b><%= t "employers.view" %></b>
                </a>
              </td>
            </tr>

            <tr class="background-none">
              <td class="text-right"><strong><%= t "employers.history.title_history" %></strong></td>
              <td>
                <a data-toggle="modal" class= "label label-info" data-target="#area-hisory-apply">
                  <i class="fa fa-eye"></i><b><%= t "employers.view" %></b>
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-lg-9">
    <div class="block block-content area-progress">
      <div class="block-title">
        <h2>
          <i class="fa fa-tasks"></i>
          <strong>&nbsp;<%= t".current" %></strong>
          &nbsp;<%= t ".status" %>
        </h2>
      </div>
      <ul class="progress-indicator" id="area-status-progress">
        <%= render partial: "status_progress", locals: {steps: @steps,
          current_step: @current_step, company_steps_by_step: @company_steps_by_step} %>
      </ul>
      <div class="btn-group pull-right btn-handling">
        <%= render "employers/applies/apply_btn"  %>
      </div>
    </div>

    <div class="block block-content overcast-custom <%= disabled_block @apply %>">
      <div class="block-title margin-bottom-0">
        <h2>
          <i class="fa fa-pencil"></i>
          <strong><%= t"employers.change" %></strong>
          <%= t "employers.status" %>
        </h2>
      </div>
      <div class="tab-pane active row" id="apply-handling">
        <div id="area-form-status" class="col-md-12">
        <%= render partial: "form_status", locals: {apply: @apply,
          current_step: @current_step, current_status_steps: @current_status_steps,
          status_step_scheduled_ids: @status_step_scheduled_ids, is_prev_step: false, step_main: @current_step} %>
        </div>
        <ul class="media-list media-feed push content-media">
          <li class="media">
            <div class="media-body">
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id = "apply-handling-content" class="row apply-content">
    </div>

    <div id="step-history" class="row">
      <%= render partial: "employers/applies/step_history", locals:
        {data_step: @data_step, status_step: @data_step[:status_step_lastest],
        apply_status: @data_step[:apply_status_lastest], apply: @apply, current_apply_status: @current_apply_status} %>
    </div>
  </div>
</div>

<div class="modal fade modal-history-apply" id="area-hisory-apply" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <i class="fa fa-history" aria-hidden="true"></i>
          <strong><%= t "employers.history.title" %></strong>
        </h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="timeline block-content-full">
              <h3 class="timeline-header"><strong><%= l Date.current, format: :date_month_year_v2 %></strong></h3>
              <ul class="timeline-list timeline-hover" id="area-hisory-apply-load">
                <%= (render partial: "employers/apply_statuses/apply_status",
                collection: @apply_statuses, as: :apply_status) || t("employers.no_data") %>
              </ul>
            </div>
          </div>
        </div>
        <div id="pagination-history-apply" class="row text-center pag pag-history-apply">
          <%= paginate @apply_statuses %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag :apply_id, @apply.id %>
<%= hidden_field_tag :job_id, @apply.job_id %>
