<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="block full">
      <div class="block-title clearfix">
        <h2><i class="fa fa-ticket"></i> <strong><%= t ".candidate_information" %></strong></h2>
      </div>
      <div class="block">
        <div class="block-section text-center">
          <%= show_image_apply @apply %>
          <h3>
            <strong><%= @apply.information[:name] %></strong><br><small></small>
          </h3>
        </div>
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td class="text-right"><strong><%= t ".email" %></strong></td>
              <td><span class="label label-primary"><%= @apply.information[:email] %></span></td>
            </tr>
            <tr>
              <td class="text-right"><strong><%= t ".phone" %></strong></td>
              <td><%= @apply.information[:phone] %></td>
            </tr>
            <tr>
              <td class="text-right"><strong><%= t ".status" %></strong></td>
              <td><%= show_status_apply @apply %></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-lg-9">
    <div class="block block-content">
      <div class="block-title">
        <ul class="nav nav-tabs" data-toggle="tabs">
          <li><a href="#tickets-list"><%= t ".cv" %></a></li>
          <li class="active"><a href="#apply-handling"><%= t ".handling" %></a></li>
          <li><a href="#tickets-single"><%= t ".other" %></a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane" id="tickets-list">
          <iframe class="pdf-content" src="<%= @apply.cv.url %>"></iframe>
        </div>

        <div class="tab-pane active row" id="apply-handling">
          <%= render partial: "form_status", locals: {apply: @apply} %>
          <hr>
          <ul class="media-list media-feed push">
            <li class="media">
              <div class="media-body">
               <div id = "apply-handling-content">
              </div>
            </li>
          </ul>
        </div>

        <div class="tab-pane" id="tickets-single">
        </div>
      </div>
    </div>
  </div>
</div>
