<div class="row">
  <div class="col-sm-4 col-lg-3">
    <div class="block full">
      <div class="block-title clearfix">
        <h2><i class="fa fa-ticket"></i> <strong><%= t ".candidate_information" %></strong></h2>
      </div>
      <div class="block">
        <div class="block-section text-center">
          <%= show_image_apply @apply %>
          <h3>
            <strong><%= @apply.information[:name] %></strong><br><small></small>
          </h3>
        </div>
        <table class="table table-borderless table-striped">
          <tbody>
            <tr>
              <td class="text-right"><strong><%= t ".email" %></strong></td>
              <td><span class="label label-primary"><%= @apply.information[:email] %></span></td>
            </tr>
            <tr>
              <td class="text-right"><strong><%= t ".phone" %></strong></td>
              <td><%= @apply.information[:phone] %></td>
            </tr>
            <tr>
              <td class="text-right"><strong><%= t ".status" %></strong></td>
              <td><%= show_status_apply @apply %></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="block full area-cv">
      <div class="block-title">
        <h2><i class="fa fa-eye" aria-hidden="true"></i> <%= t "employers.cv" %></h2>
      </div>
      <a href="<%= @apply.cv.url %>" data-fancybox class="thumbnail-cv">
        <embed src="<%= @apply.cv %>" />
      </a>
    </div>
  </div>

  <div class="col-sm-8 col-lg-9">
    <div class="block block-content area-progress">
      <div class="block-title">
        <h2>
          <i class="fa fa-pencil"></i>
          <strong><%= t"employers.current" %></strong>
          <%= t "employers.status" %>
        </h2>
      </div>
      <ul class="progress-indicator" id="area-status-progress">
        <%= render partial: "status_progress", locals: {steps: @steps,
          current_step: @current_step, company_steps_by_step: @company_steps_by_step} %>
      </ul>
      <div class="btn-group pull-right btn-handling">
        <div id="btn-prev-apply" class="btn btn-apply">
          <%= render partial: "form_apply_status", locals: {apply_status: @prev_apply_status,
            btn_name: t("employers.applies.btn_name.prev"), step: @prev_step} %>
        </div>
        <div id="btn-next-apply" class="btn btn-apply">
          <%= render partial: "form_apply_status", locals: {apply_status: @next_apply_status,
            btn_name: t("employers.applies.btn_name.next"), step: @next_step} %>
        </div>
      </div>
    </div>

    <div class="block block-content">
      <div class="tab-pane active row" id="apply-handling">
        <div id="area-form-status">
        <%= render partial: "form_status", locals: {apply: @apply,
          current_step: @current_step, current_status_steps: @current_status_steps,
          company_stattus_step_ids: @company_stattus_step_ids} %>
        <hr>
        </div>
        <ul class="media-list media-feed push">
          <li class="media">
            <div class="media-body">
              <div id = "apply-handling-content">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="block full">
          <div class="block-title">
            <div class="block-options pull-right">
              <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
            </div>
            <h2><strong><%= t "employers.history.title"%></strong></h2>
          </div>
          <div class="timeline block-content-full">
            <h3 class="timeline-header"><strong><%= l Date.current, format: :date_month_year_v2 %></strong></h3>
            <ul class="timeline-list timeline-hover" id="area-hisory-apply">
              <%= render partial: "employers/apply_statuses/apply_status", collection: @apply_statuses, as: :apply_status %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="pagination-history-apply" class="row text-center pag">
      <%= paginate @apply_statuses %>
    </div>
  </div>
</div>
