<%= stylesheet_link_tag "employers/notification" %>
<header class="user-header">
  <div class="container">
    <%= link_to root_path, class: "site-logo" do %>
      <i class="fa fa-gg" aria-hidden="true"></i>
      <strong><%= t ".fram" %></strong><%= t "index.recruit" %>
    <% end %>
    <nav>
      <section class="widget widget_icl_lang_sel_widget notify-logo-2">
        <ul class="site-nav">
          <%= render "shared/notification" %>
        </ul>
      </section>
      <section class="widget_icl_lang_sel_widget user-ic d-inline">
        <a href="javascript:void(0)" class="site-menu-toggle visible-xs visible-sm">
        </a>
        <ul class="site-nav">
          <% if user_signed_in? %>
            <li class = "dropdown">
              <%= link_to "javascript:void(0)", class: "setting_user" do %>
              <%= image_tag current_user.picture.url, class: "avatar_user" %>
              <i class="fa fa-angle-down"></i>
              <% end %>
              <ul>
                <% if current_user.is_employer? %>
                  <li>
                    <%= link_to employers_dashboards_url subdomain: current_user.company_of_user do %>
                      <%= t "employer" %>
                      <i class="fa fa-dashcube fa-fw pull-right"></i>
                    <% end %>
                  </li>
                <% end %>

                <li>
                  <%= link_to user_url current_user do %>
                    <%= t ".profile" %>
                    <i class="fa fa-user fa-fw pull-right"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_url current_user do %>
                    <%= t "layouts.header.change" %>
                    <i class="fa fa-pencil-square-o pull-right"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to bookmark_likes_url do %>
                    <%= t ".my_job" %>
                    <i class="fa fa-briefcase pull-right"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_url, method: :delete do %>
                    <i class="fa fa-ban fa-fw pull-right"></i>
                    <%= t ".logout" %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li id="menu-item-114" class="btn btn-primary">
              <%= link_to t(".login"), new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
</header>
<div class="modal fade" id="notifications-index" role="dialog"
  tabindex="-1" aria-hidden="true">
</div>
